Babel==2.6.0
certifi==2018.10.15
chardet==3.0.4
coverage==4.5.2
debtcollector==1.20.0
dnspython==1.15.0
eventlet==0.24.1
greenlet==0.4.15
idna==2.7
monotonic==1.5
msgpack==0.5.6
netaddr==0.7.19
nose2==0.8.0
oslo.config==6.6.1
oslo.i18n==3.22.1
ovs==2.10.0
pbr==5.0.0
pytz==2018.5
PyYAML==3.13
repoze.lru==0.7
requests==2.19.1
rfc3986==1.1.0
Routes==2.4.1
ryu==4.29
scapy==2.4.0
six==1.11.0
sortedcontainers==2.0.5
stevedore==1.29.0
superjson==0.0.10
tabulate==0.8.2
tinyrpc==0.9.3
urllib3==1.24.2
vulture==1.0
WebOb==1.8.3
wrapt==1.10.11
